name: SmallRye Module Info Build

on:
  push:
    branches:
      - master
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]

jobs:
  build:
    runs-on: ubuntu-latest
    name: Build project

    steps:
      - uses: actions/checkout@v2
        name: checkout

      - uses: actions/setup-java@v5
        name: set up JDK
        with:
          distribution: temurin
          architecture: x64
          java-version: 17

      - name: bootstrap build
        run: mvn -B install --file pom.xml -Dbootstrap

      - name: real build
        run: mvn -B install --file pom.xml
